/* -- Banner -- */

.banner {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.banner-icon {
  margin: 10vw 0;
  max-width: 300px;
  min-height: 1px;
}

.banner-icon__svg {
  width: 50vw;
  height: auto;
  max-width: 100%;
  image-rendering: -o-crisp-edges; // Opera //
  image-rendering: -webkit-optimize-contrast; // Webkit (non-standard naming) //
  image-rendering: crisp-edges;
}

.banner-icon__img {
  max-width: 100%;
  width: 55vw;
  height: auto;
  padding: .5em;
}

.banner-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.banner__title {
  font-size: calc(1em + 2vw);
  font-weight: normal;
  text-align: center;
  line-height: 1em;
  margin-top: 0;
  max-width: 100%;
  font-family: $seriftitle;
  font-weight: 300;
  color: #212121;
}

@media screen and (min-width: 580px) {

  .banner__title {
    font-size: calc(2em + 2vw);
  }

}

@media screen and (min-width: $desktopnav) {

  .banner {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 2em 0;
    height: 276px;
  }

  .banner-icon {
    width: 200px;
    height: auto;
    margin: 0;
    margin-right: 2em;
    border-left: 1em dashed lightgray;
    border-top: 1em dashed #eee;
  }

  .banner-icon__svg {
    padding: 0;
    width: 100%;
    height: 200px;
    padding: .5em;
  }

  .banner-icon__img {
    max-height: 200px;
    width: auto;
    max-width: 300px;
  }

  .banner-title-container {
    width: 500px;
  }

  .banner__title {
    font-size: 2.5rem;
    margin: 0;
  }

}
