.header {
  display: flex;
  flex-direction: column;

  ul {
    list-style-type: none;
  }
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}

.header__nav {
  margin-top: 1em;
  display: none;
  background-color: $light;
}

/* -- Logo -- */

.logo {
  width: 100%;
  height: 100%;
  padding-bottom: 10%;
  margin: 0;

  @media screen and (min-width: 391px) {
    padding-bottom: 0;
    width: 311px;
    height: 38px;
  }
}

/* -- Menu -- */

.button__menu {
  height: 32px;
  width: 32px;
  padding: 0;
  margin-left: 2em;
  border: 0;
  order: 3;
  background-image: url('../img/icons/menu.svg');
  background-repeat: no-repeat;
  background-color: transparent;
}

.menu-displayed {
  display: flex;
  flex-direction: column;
}

/* -- About/contact -- */

.main-nav__about-contact {
  display: flex;
  flex-direction: column;
  font-size: 1.125em;
  padding: 1em 0;
  text-align: center;
  border-bottom: 1px dashed grey;
  border-top: 1px dashed grey;
  margin-bottom: 2em;
  width: 100%;

  & .about-contact__item + * {
      margin-top: 1em;
  }
}

.about-contact {
  display: none;
}

/* -- Main Nav -- */

.main-nav {
  padding: 2em 0;
  //margin-top: 30px;
}

.main-nav__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.main-nav__item {

  & + * {
    margin-top: 2em;
  }

}

.main-nav__link {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.main-nav__link--home {
    background-position: -5px -45px;
    width: 40px;
    height: 28px;

    &:hover, &.current {
      background-position: -263px -45px;
    }
  }

.main-nav__link--health {
    background-position: -6px -82px;
    width: 238px;
    height: 30px;

    &:hover, &.current {
      background-position: -264px -82px;
    }
  }

.main-nav__link--archive {
    background-position: -6px -153px;
    width: 115px;
    height: 30px;

    &:hover, &.current {
      background-position: -264px -153px;
    }
  }

.main-nav__link--grow {
    background-position: -7px -187px;
    width: 95px;
    height: 33px;

    &:hover, &.current {
      background-position: -265px -187px;
    }
  }

.main-nav__link--my {
    background-position: -7px -222px;
    width: 75px;
    height: 31px;

    &:hover, &.current {
      background-position: -265px -222px
    }
  }

  @media screen and (min-width: 720px) {

    .about-contact {
      display: flex;
      margin-top: 1em;
      font-size: 1.125em;
      margin: 0;
      padding: 0;
    }

    .about-contact__link {

      &.current, &:hover {
        border-bottom: 1px solid black;
        text-decoration: none;
      }
    }

    .about-contact__item:first-child::after {
      content: "|";
      margin: 0 2.5em;
      color: grey;
    }

    .main-nav__about-contact {
      display: none;
    }

    .button__menu {
      margin-left: 0;
    }
  }

  @media screen and (min-width: 800px) {

    .header {
      margin-top: 2em;
    }

    .header__nav {
      background-color: transparent;
      margin-top: 2em;
    }

    .button__menu {
      display: none;
    }

    .about-contact {
      display: flex;
    }

    .header__nav {
      display: block;
    }

    .main-nav {
      padding: 0;
    }

    .main-nav__items {
      flex-direction: row;
      justify-content: space-between;
    }

    .main-nav__item + * {
      margin-top: 0;
    }

    .main-nav__item:last-child {
      margin-bottom: 0;
    }

  }
