.header {
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* -- Logo -- */

.logo {
  margin: 0;
}

.logo__link {
  display: block;
  //background-image: url('../img/header/logo.png');
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 311px;
  height: 38px;

  &:hover {

  }
}

/* -- About/contact -- */

.about-contact {
  display: flex;
}

.about-contact__link {

  &.current, &:hover {
    border-bottom: 1px solid black;
    text-decoration: none;
  }
}

.about-contact__item:first-child::after {
  content: "|";
  margin: 0 2.5em;
}

/* -- Main Nav -- */

.main-nav {
  margin-top: 30px;
}

.main-nav__items {
  display: flex;
  justify-content: space-between;
}

.main-nav__link {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.main-nav__link--home {
    background-position: -5px -45px;
    width: 40px;
    height: 28px;

    &:hover, &.current {
      background-position: -263px -45px;
    }
  }

.main-nav__link--health {
    background-position: -6px -82px;
    width: 238px;
    height: 30px;

    &:hover, &.current {
      background-position: -264px -82px;
    }
  }

.main-nav__link--archive {
    background-position: -6px -153px;
    width: 115px;
    height: 30px;

    &:hover, &.current {
      background-position: -264px -153px;
    }
  }

.main-nav__link--grow {
    background-position: -7px -187px;
    width: 95px;
    height: 33px;

    &:hover, &.current {
      background-position: -265px -187px;
    }
  }

.main-nav__link--my {
    background-position: -7px -222px;
    width: 75px;
    height: 31px;

    &:hover, &.current {
      background-position: -265px -222px
    }
  }
