.map {
  position: relative;
  margin: 0 auto;
  overflow: scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  animation-name: fadeIn;

  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  //box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
  border: 1px dashed $lightborder;
  border-top: 0;
  height: 600px;
  transition: transform 700ms ease-in-out;

  &::-webkit-scrollbar {
    display: none;
  }

  cursor: move; /* fallback: no `url()` support or images disabled */
  cursor: url('assets/img/icons/grab.cur'), move; /* fallback: Internet Explorer */
  cursor: grab;

  &.dragscroll.grab {
    cursor: url('assets/img/icons/grab.cur'), move;
    cursor: grab;
  }

  &.dragscroll.grabbing {
    cursor: url('assets/img/icons/grabbing.cur'), move;
    cursor: grabbing;
    transition: transform 700ms ease-in-out;
    box-shadow: none;
    border: none;

    &.dragscroll--cancel {
      overflow: hidden;
    }
  }

}

.grabbing > .map__inner {
  transform: scale(.8);
}

.map__inner {
  position: relative;
  transition: transform 400ms, width 700ms, height 700ms;
  background-image: url('../img/maps/map_today.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 1319px;
  height: 833px;

  &.map__inner--1960s1980s {
    background-image: url('../img/maps/map_1960s1980s.png');
  }

  &.map__inner--1800s {
    background-image: url('../img/maps/map_1800s.png');
  }

  &.map__inner--pre {
    background-image: url('../img/maps/map_pre1800s.png');
  }

}

.icon {
  position: absolute;

  &:hover {
    transform: scale(1.05);
    //filter: brightness(1.2);
    cursor: pointer;
  }

  &.icon__brooks {
    position: relative;
    background: url('../img/icons/icon_brooks.png');
    height: 12.364945978391356542617046818727%;
    width: 15.542077331311599696739954510993%;
    left: 60.197119029567854435178165276725%;
    top: 41.896758703481392557022809123649%;

    & .icon__brooks--hover {
      display: none;
    }

    &:hover {
      .icon__brooks--hover {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2em;
        position: absolute;
        border-radius: 20px;
        border-bottom-right-radius: 0;
        left: -300px;
        top: -140px;
        font-size: .8125em;
        width: 400px;
        height: auto;
        background-color: white;
        border: 1px solid black;

        a {
          text-decoration: underline;
        }

        p {
          margin: .2em 0
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {

  .map__inner {
    width: 1121px;
    height: 788px;
  }
}

@media screen and (max-width: 700px) {

  .map {
    height: 80vmin;
  }

  .grabbing > .map__inner {
    transform: scale(1);
  }

  .map__inner {
    width: 923px;
    height: 649px;
  }

}
