.breadcrumb {
  display: none;
}

/* -- Main -- */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* -- Icon -- */

.main-icon {
  //display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-icon__img {
  padding: 10vw;
  width: 55vw;
  height: auto;
  max-width: 100%;
}

.main-text {
  text-align: center;
  max-width: 33.5rem;
  font-size: calc(.8em + 1vw);
  font-weight: 200;
  width: 100%;

  p:first-of-type {
    margin-top: 0;
  }
}

.main-text__title {
  font-size: calc(2em + 2vw);
  font-weight: normal;
  text-align: center;
  line-height: 1em;
  margin-top: 0;
  max-width: 100%;
  font-family: $seriftitle;
}

.main-text__link {
  font-weight: 700;
  text-decoration: none;
  color: $linkcolour;
  border-bottom: 0.08em solid $link_border_colour;
  padding-bottom: 0.04em;

  &:hover {
    text-decoration: none;
    border-bottom-color: $linkcolour;
  }
}

@media screen and (min-width: 425px) {

  .main-text {
    line-height: calc(1em + 1vw);
  }

}

@media screen and (min-width: 800px) {

  /* -- Breadcrumb -- */

  .breadcrumb {
    display: flex;
    align-items: center;
    white-space: nowrap;
    flex-wrap: wrap;
    margin: 2em 0;
    padding: 1em 2em;
    font-size: 0.88888888888888888888888888888889em;
    border-left: 3px solid black;
    background-color: $lighter;
  }

  .breadcrumb__grey {
    color: grey;
    margin: 0;

    &:not(:first-child):before {
      content: ">";
      margin: 0 .5em;
      font-size: 1em;
      font-weight: 200;
    }
  }

  .breadcrumb__link {
    font-weight: bold;
  }

  .main {
    flex-direction: row;
    justify-content: space-between;
    margin: 4em 0 5.8em;
  }

  .main-icon {
    max-width: 300px;
    margin-right: 2em;
    flex-grow: 1;
    flex-shrink: 1;

  .main-icon__img {
    padding: 0;
    width: 100%;
    height: 100%;
  }
  }

  .main-text {
    max-width: 30em;
    font-weight: 300;
    font-size: 1.1111111111111111111111111111111em;
    text-align: right;
    flex: 2;
  }

  .main-text__title {
    font-size: calc(1rem + 5vw);
    text-align: right;
  }

  .main-text__link {
    font-weight: 400;
  }

  .main-icon {
    transform: rotate(-3deg) translate(10px, 15px);
    border-left: 1em dashed $light;
    border-top: 1em dashed $light;
  }

}


@media screen and (min-width: 1240px) {

  .main-text {
    font-size: 1.3333333333333333333333333333333em;
    line-height: 1.3em;
  }


  .main-text__title {
    font-size: 5rem;;
  }
}
