/* -- Breadcrumb -- */

.breadcrumb {
  display: flex;
  align-items: center;
  white-space: nowrap;
  flex-wrap: wrap;
  //justify-content: center;
  margin: 1em 0;
  padding: 1em;
  font-size: 0.88888888888888888888888888888889em;
  border-top: 1px dashed $lightborder;
  border-bottom: 1px dashed $lightborder;
  //background-color: $light;
}

.breadcrumb__grey {
  color: grey;
  margin: 0;

  &::before {
    content: ">";
    margin: 0 .5em;
  }
}

.breadcrumb__link {
  font-weight: bold;
}

@media screen and (min-width: 800px) {

  .breadcrumb {
    padding: 1em 2em;
  }
}
