.sidebar {
  width: 100%;
  flex: 1 1 auto;
  margin: 2em 0;
  max-width: 30em;
}

.widget + * {
  margin-top: 1em;
}

.widget__title {
  margin: 0;
  font-weight: 600;
  padding: 1em;
  text-align: center;
  background: #e2e2e2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.widget__title--dig {
  background: #e2e2e2; //#e3d5a2;
}

.widget__title--poetry, .widget__title--stories {
  background: #e2e2e2; //#bec9cf;
}

.widget__title--artwork, .widget__title--photography {
  background: #e2e2e2; //#afdaec;
}

.widget__title--sustainability {
  background: #e2e2e2; //#7e9e76;
}

.widget__title--bees {
  background: #e2e2e2; //#e0c47f;
}

.widget__title--foraging {
  background: #e2e2e2; //#7e9e76;
}

.widget__images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em;
  border-top: none;
}

.widget__image {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  height: auto;
  overflow: hidden;
}

.widget__thumbnail {
  height: auto;
  max-width: 100%;
  width: 100%;
}

.widget__links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1em;

  [href$=".pdf"]::after {
    content: "";
    display: block;
    margin-left: .25em;
    height: 16px;
    width: 16px;
    background-image: url(../img/icons/PDF-link-symbol.svg);
    opacity: 1;
  }
}

.widget__link {
  border-bottom: 1px dashed lightgray;
  padding: .5em 0;
  color: black;
  display: flex;
  align-items: center;

  &:after {
    content: "";
    display: block;
    margin-left: .25em;
    height: 16px;
    width: 16px;
    background-image: url(../img/icons/external-link-symbol.svg);
    opacity: 1;
  }
}

.widget__link + * {
  margin-top: 1em;
}

.widget__submenu {
  text-align: center;
  padding: 1em 2em;
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
}

.widget__submenu-item {
  padding: 1em 0;
  color: black;

  &.current {
    font-weight: bold;
  }

  &:after {
    display: none;
  }
}

.widget__submenu-item + * {
  border-top: 1px dashed lightgray;
}

.ingredients {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.ingredients__item {
  padding: .5em 0;
  border-bottom: 1px dashed lightgray;
  text-align: center;
}


@media screen and (min-width: $desktopnav) {

  .sidebar {
    max-width: 27.777777777777777777777777777778em;
    height: 100%;
    align-self: flex-start;
    margin-top: 0;
  }

  .widget {
    transform: rotate(1deg);
    background: #eeeeee;

    &:only-child {
      transform: none;
    }

    &:nth-child(2n) {
      transform: rotate(-2deg) translateY(-30px);
    }

    &:nth-child(3n) {
      transform: rotate(-1deg) translateY(-60px);
    }
  }

  .widget__images, .widget__links {
    padding: 2em;
  }

  .widget__title {
    text-align: center;
    font-size: 1.25em;
    padding: 1em;
  }

  .widget__image {
    height: 120px;
    overflow: hidden;

      &:hover {
        transform: scale(1.1);
      }
  }

  .widget__thumbnail {
    display: block;
    max-width: 100%;
  }

  .widget__submenu-item {
    list-style-type: none;
  }

  .widget__submenu-item {

    a:hover {
      text-decoration: none;
    }

    a::before {
      content: "";
      display: inline-block;
      margin: -5px;
      height: 20px;
      width: 20px;
      transform: scale(.5);
      background-image: url('../img/icons/icon_widget-bullet.svg');
      background-position: 0 0;
      background-size: 100%;
      margin-right: .72222222em;
      image-rendering: -o-crisp-edges; // Opera //
      image-rendering: -moz-crisp-edges;
    }

    a:hover::before {
      background-position: 0 -20px;
    }
  }

  .widget__submenu {
    text-align: left;
    list-style-type: circle;
  }


}
