.sidebar {
  width: 100%;
  flex: 1 1 auto;
  margin: 2em 0;
  max-width: 30em;
  background: white;
  box-shadow: 3px 0px 6px 3px rgba(0,0,0,0.05);
}

.widget__images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2em;
  border-top: none;
}

.widget__image {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  height: auto;
  overflow: hidden;
}

.widget__thumbnail {
  height: auto;
  max-width: 100%;
  width: 100%;
}

.widget__title {
  margin: 0;
  font-weight: 600;
  padding: 2em;
  text-align: center;
  background: #eee;
}

@media screen and (min-width: $desktopnav) {

  .sidebar {
    max-width: 27.777777777777777777777777777778em;
    height: 100%;
    align-self: flex-start;
    transform: rotate(1.5deg) translateX(-5px);
  }

  .widget__title {
    text-align: right;
    font-size: 1.25em;
  }

  .widget__image {
    height: 120px;
    overflow: hidden;

      &:hover {
        transform: scale(1.1);
      }
  }

  .widget__thumbnail {
    display: block;
    max-width: 100%;
  }



}
