.sidebar {
  width: 100%;
  flex: 1 1 auto;
  margin: 2em 0;
  max-width: 30em;
}

.widget__images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2em;
  border: 1px dashed $lightborder;
  border-top: none;
}

.widget__image {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  height: auto;
  overflow: hidden;
}

.widget__thumbnail {
  height: auto;
  max-width: 100%;
  width: 100%;
}

.widget__title {
  margin: 0;
  font-weight: 600;
  padding: 2em;
  text-align: center;
  //border-bottom: 1px dashed $lightborder;
  background: $light;
}

@media screen and (min-width: $desktopnav) {

  .sidebar {
    max-width: 27.777777777777777777777777777778em;
    height: 100%;
    align-self: flex-start;
    transform: rotate(2deg) translateX(-5px);
  }

  .widget__title {
    text-align: right;
    font-size: 1.25em;
  }

  .widget__image {
    height: 120px;
    overflow: hidden;
  }

  .widget__thumbnail {
    display: block;
    max-width: 100%;
  }



}
