.timeline {
  position: relative;
  margin: 2em auto;
  padding: 2em 1em;
  width: 100%;
  max-width: 33.5rem;
  background: rgba(0,0,0,0.02);

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 26px;
    border-right: 4px dashed lightgray;

  }
}

.timeline-block + * {
  margin-top: 2em;
}

.timeline-block {
  position: relative;
}

.timeline-block__radio {
  position: absolute;
  top: 9px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-sizing: content-box;
  border: 2px solid #5399a9;
  background: $radiotimeline;
}

.timeline-block__content {
  position: relative;
  border-radius: 5px;
  background: white;
  box-shadow: 0 3px 0 0 rgba(0,0,0,0.1);
  padding: 1em;
  margin-left: 48px;

  &::before {
    content: "";
    position: absolute;
    top: 16px;
    right: 100%;
    height: 16px;
    width: 16px;
    border: 8px solid transparent;
    border-right: 8px solid white;
  }

.timeline-block__title {
  font-family: $seriftitle;
  margin-top: 1em;
}
}

@media screen and (min-width: $desktopnav) {

  .timeline {
    max-width: 100%;
    margin: 3em auto;

    &::before {
      left: 50%;
    }
  }

  .timeline-block  {
    display: flex;
    flex-direction: column;

    &:nth-child(even) .timeline-block__content {
      align-self: flex-end;
    }
  }

  .timeline-block__radio {
    left: 50%;
    margin-left: -10px;
    top: 20px;
  }

  .timeline-block__content {
    width: 45%;
    margin-left: 0;
    padding: 1.6em;

    &::before {
      top: 24px;
      left: 100%;
      width: 20px;
      height: 20px;
      border: 10px solid transparent;
      border-left-color: white;
    }
  }

  .timeline-block:nth-child(even) .timeline-block__content::before {
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }



}
