// Colours //
$light: #f3f3f3;
$lighter: lighten($light, 1);
$lightborder: darken($light, 20);
$linkcolour: #ff3c19;
$link_border_colour: #dedede;
$linkforaging: #7e9e76;
$radiotimeline: #d3d3d3;

// Fonts //
$bodyfont: 'Source Sans Pro', Verdana, sans-serif;
$seriftitle: 'Droid Serif', Georgia, Times, serif;

// Media queries //
$desktopnav: 1132px;
