// Colours //
$light: #f3f3f3;
$lighter: lighten($light, 1);
$lightborder: darken($light, 20);

// Fonts //
$bodyfont: 'Source Sans Pro', Verdana, sans-serif;
$seriftitle: 'Crete Round', Times, serif;
