// Colours //
$light: #f3f3f3;
$lighter: lighten($light, 1);
$lightborder: darken($light, 20);
$linkcolour: #ff3c19;
$link_border_colour: #dedede;
$foragingcolour: #7e9e76;
$poemscolour: #567482;
$radiotimeline: #badae2;

// Fonts //
$bodyfont: 'Source Sans Pro', Verdana, sans-serif;
$cute: 'Catamaran', Calibri, Corbel, Verdana, arial, sans-serif;
$seriftitle: Georgia, Times, serif;
$serif: Cambria, Times, serif;

// Media queries //
$desktopnav: 1132px;
