.logo__link {
	background-image: url('png/logo__link.png');
	background-repeat: no-repeat;
}

.main-nav__link {
	background-image: url('png/main-nav__link.png');
	background-repeat: no-repeat;
	background-size: 516px 257px;
}
